{% extends "index.html" %}

{% block content %}
<div class="container">


{% block sidebar %}
{% include 'sidebar.html' %}
{% endblock sidebar %}

<h2 id="关于我">关于我</h2>

<ul>
<li><p>神秘羊是一名计算机专业的学生。</p></li>
<li><p>曾在北航度过四年本科生活。</p></li>
<li><p>现在在北美资本主义国家搬砖。</p><hr></li>
</ul>

<h2 id="关于个人博客">关于个人博客</h2>

<ul>
<li><p>目的——建立个人博客网站目的是为了督促自己更好的记录和总结平时的学习经验和收获，同时给自己创造一个更加相对自由、个性化的写作空间和交流平台。</p></li>
<li><p>内容——本个博的内容包括但不限于<strong>生活</strong>，<strong>读书</strong>，<strong>技术</strong>，<strong>碎念</strong>，其中<strong>碎念</strong>是主要用来记录生活中的小感悟，夹杂正负能量。</p></li>
<li><p>技术——学习上遇到的技术问题，主要关于linux，web开发，debug问题，代码托管至github。</p></li>
<li><p>申明——本个人博客网站在搭建过程中参考并学习了<strong><a href="http://www.xyczero.com/">XYCZero’s Blog</a></strong>，<strong><a href="http://www.xukailun.me/">RealBlog</a></strong>和<strong><a href="http://www.liangfeizc.com/">Zealous Carrier</a></strong>的博客网站前端设计，对于所提供地帮助在此表示由衷地感谢。</p></li>
<li>
<hr>
</li>
</ul>

<h2 id="兴趣爱好">兴趣爱好</h2>

<ul>
<li>我的<a href="https://github.com/GodSheep">github</a>： <br>
<ul><li>Graph Computing</li>
<li>Machine Learning &&  Data Mining</li>
<li>Java, Python</li>
<li>Django+bootstrap</li></ul></li>
<li>运动： <br>
<ul><li>体育运动，包括跑步，瑜伽，健身 … …</li>
<li>电子竞技运动 <br>
<hr></li></ul></li>
</ul>

<h2 id="联系方式">联系方式</h2>

<ul>
<li>邮箱：<strong>hyy1506@gmail.com</strong>，随时欢迎交流沟通。 <br>
<hr></li>
</ul>

<blockquote>
  <p>Written with <a href="https://stackedit.io/">StackEdit</a>.</p>
</blockquote>

</div>
{% endblock %}
